<div>
  <h3 *ngIf="role == 'create'">Thêm câu hỏi</h3> 
  <h3 *ngIf="role == 'update'">Sửa câu hỏi</h3>
  <hr />
</div>
<div class="content-fluid">
  <form [formGroup]="formGroup">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field mat-form-field appearance="fill">
          <mat-label>Nội dung</mat-label>
          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
            cdkAutosizeMaxRows="5" formControlName="content">
          </textarea>
          <mat-error *ngIf="formGroup.controls['content'].invalid && (formGroup.controls['content'].dirty || formGroup.controls['content'].touched)">
            Nội dung câu hỏi không được để trống
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field mat-form-field appearance="fill">
          <mat-label>Đáp án A</mat-label>
          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="2" formControlName="solutionA">
          </textarea>
          <mat-error *ngIf="formGroup.controls['solutionA'].invalid && (formGroup.controls['solutionA'].dirty || formGroup.controls['solutionA'].touched)">
            Nội dung câu trả lời không được để trống
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field mat-form-field appearance="fill">
          <mat-label>Đáp án B</mat-label>
          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="2" formControlName="solutionB">
          </textarea>
          <mat-error *ngIf="formGroup.controls['solutionB'].invalid && (formGroup.controls['solutionB'].dirty || formGroup.controls['solutionB'].touched)">
            Nội dung câu trả lời không được để trống
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field mat-form-field appearance="fill">
          <mat-label>Đáp án C</mat-label>
          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="2" formControlName="solutionC">
          </textarea>
          <mat-error *ngIf="formGroup.controls['solutionC'].invalid && (formGroup.controls['solutionC'].dirty || formGroup.controls['solutionC'].touched)">
            Nội dung câu trả lời không được để trống
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field mat-form-field appearance="fill">
          <mat-label>Đáp án D</mat-label>
          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="2" formControlName="solutionD">
          </textarea>
          <mat-error *ngIf="formGroup.controls['solutionD'].invalid && (formGroup.controls['solutionD'].dirty || formGroup.controls['solutionD'].touched)">
            Nội dung câu trả lời không được để trống
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field mat-form-field appearance="fill">
          <mat-label>Đáp án đúng</mat-label>
          <mat-select formControlName="correct">
            <mat-option value="A">A</mat-option>
            <mat-option value="B">B</mat-option>
            <mat-option value="C">C</mat-option>
            <mat-option value="D">D</mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.controls['correct'].invalid && (formGroup.controls['correct'].dirty || formGroup.controls['correct'].touched)">
            Chọn đáp án đúng
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field mat-form-field appearance="fill">
          <mat-label>Lĩnh vực</mat-label>
          <mat-select formControlName="field">
            <mat-option *ngFor="let field of fields" [value]="field.id">{{field.major}}</mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.controls['field'].invalid && (formGroup.controls['field'].dirty || formGroup.controls['field'].touched)">
            Lĩnh vực không được để trống
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field mat-form-field appearance="fill">
          <mat-label>Độ khó</mat-label>
          <mat-select formControlName="level">
            <mat-option *ngFor="let level of levels" [value]="level.id">{{level.label}}</mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.controls['level'].invalid && (formGroup.controls['level'].dirty || formGroup.controls['level'].touched)">
            Độ khó không được để trống
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div class="d-flex justify-content-center">
  <button mat-raised-button mat-dialog-close class="mr-2">Huỷ</button>
  <button *ngIf="role == 'create'" mat-raised-button color="primary" (click)="createQuestion()" class="mr-2">
    Thêm
  </button>
  <button *ngIf="role == 'update'" mat-raised-button color="primary" (click)="updateQuestion()" class="mr-2">
    Cập nhật
  </button>
</div>
