<h2 mat-dialog-title><em>{{data.title}}</em></h2>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Huỷ bỏ</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>Đồng ý</button>
</mat-dialog-actions>