<div class="main-content" style="margin-top: 0;">
  <div class="content-fluid">
    <div class="row">
      <div class="col-md-4 my-2" *ngFor="let exam of exams">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image" style="background-image: url({{exam.field.avatar}});"></div>
            <mat-card-title>Chủ đề: {{exam.field.major}}</mat-card-title>
            <mat-card-subtitle>Độ khó: {{exam.level.label}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <h3>Số lượng câu hỏi: {{exam.questionNumber}}</h3>
            <h3>Thời gian làm bài: {{exam.time}} phút</h3>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="warn" (click)="openModal(exam)">Làm bài</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>