<div class="main-content" style="margin-top: 0;">
  <div class="container-fluid">
    <div>
      <div class="search">
        <mat-form-field>
          <mat-label>Tìm kiếm</mat-label>
          <input matInput (keyup)="search($event)" placeholder="Tìm kiếm..." #input>
        </mat-form-field>
      </div>

      <mat-card>
        <div class="d-flex">
          <h3 style="color: #3f51b5; margin: 0;">Danh sách người dùng</h3>
        </div>
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let user; index as i"> {{i +1}} </td>
          </ng-container>
      
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên đăng nhập </th>
            <td mat-cell *matCellDef="let user"> {{user.name}} </td>
          </ng-container>
      
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Điện thoại </th>
            <td mat-cell *matCellDef="let user"> {{user.phone}} </td>
          </ng-container>
          
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let user"> {{user.email}} </td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Địa chỉ </th>
            <td mat-cell *matCellDef="let user"> {{user.address}} </td>
          </ng-container>
          
          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày tạo </th>
            <td mat-cell *matCellDef="let user"> {{user.createdDate}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Hành động </th>
            <td mat-cell *matCellDef="let user">
              <!-- <button (click)="resetPassword(user.id)" mat-icon-button color="primary" aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>lock_open</mat-icon>
              </button> -->
              <button mat-icon-button color="warn" (click)="deleteUser(user.id)" aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="7">Không có dữ liệu</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"></mat-paginator>
      </mat-card>
    </div>
  </div>