<div class="main-content" style="margin-top: 0;">
  <div class="container-fluid">
    <div>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let history; index as i"> {{i +1}} </td>
          </ng-container>
      
          <ng-container matColumnDef="exam">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Đề thi </th>
            <td mat-cell *matCellDef="let history"> {{history.field_major}} </td>
          </ng-container>
      
          <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Độ khó </th>
            <td mat-cell *matCellDef="let history"> {{history.level_label}} </td>
          </ng-container>
      
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày thi </th>
            <td mat-cell *matCellDef="let history"> {{history.hs_date | date: 'dd/MM/yyyy'}} </td>
          </ng-container>
          
          <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Kết quả </th>
            <td mat-cell *matCellDef="let history"> {{history.hs_result}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"></mat-paginator>
      </div>
    </div>
  </div>