<div>
  <h3 *ngIf="role == 'create'">Thêm đề thi</h3> 
  <h3 *ngIf="role == 'update'">Sửa đề thi</h3>
  <hr />
</div>
<div class="content-fluid">
  <form [formGroup]="formGroup">
    <div class="row">
      <div class="col-md-3">
        <mat-form-field mat-form-field appearance="fill">
          <mat-label>Lĩnh vực</mat-label>
          <mat-select formControlName="field">
            <mat-option *ngFor="let field of fields" [value]="field.id">{{field.major}}</mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.controls['field'].invalid && (formGroup.controls['field'].dirty || formGroup.controls['field'].touched)">
            Lĩnh vực không được để trống
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field mat-form-field appearance="fill">
          <mat-label>Độ khó</mat-label>
          <mat-select formControlName="level">
            <mat-option *ngFor="let level of levels" [value]="level.id">{{level.label}}</mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.controls['level'].invalid && (formGroup.controls['level'].dirty || formGroup.controls['level'].touched)">
            Độ khó không được để trống
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field mat-form-field appearance="fill">
          <mat-label>Thời gian</mat-label>
          <input matInput type="number" formControlName="time">
          <mat-error *ngIf="formGroup.controls['time'].invalid && (formGroup.controls['time'].dirty || formGroup.controls['time'].touched)">
            Thời gian không được để trống
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field mat-form-field appearance="fill">
          <mat-label>Số lượng câu hỏi</mat-label>
          <input matInput type="number" [value]="getSelectedQs().length" readonly />
        </mat-form-field>
      </div>
    </div>
  </form>
  
  <div>
    <h4 style="color: #3f51b5; font-weight: bold;">Chọn câu hỏi</h4>
  </div>
  <div class="p-3">
    <div class="row">
      <div class="col-md-3" *ngFor="let qs of questions">
        <mat-checkbox color="primary" [(ngModel)]="qs.selected">
          {{qs.content}}
        </mat-checkbox>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <button mat-raised-button mat-dialog-close class="mr-2">Huỷ</button>
  <button *ngIf="role == 'create'" mat-raised-button color="primary" (click)="createExam()" class="mr-2">
    Thêm
  </button>
  <button *ngIf="role == 'update'" mat-raised-button color="primary" (click)="updateExam()" class="mr-2">
    Cập nhật
  </button>
</div>
