:host::ng-deep.mat-checkbox-layout {
  white-space: normal !important;
}

:host::ng-deep.mat-checkbox-inner-container {
  margin-top: 4px;
}

:host::ng-deep label {
  color: black;
}

h3 {
  color: #3f51b5;
  font-weight: bold;
  margin: 0;
}

hr {
  border-top: 2px solid #3f51b5;
}