<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
  href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css"
  href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css"
  href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css"
  href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<div class="px-3" style="height: 90%;">
  <mat-tab-group>
    <mat-tab label="Tổng quan">
      <ng-template matTabContent>
        <div class="grey-bg container-fluid">
          <section id="minimal-statistics">
            <div class="row">
              <div class="col-12 mt-3 mb-1">
                <h4 class="text-uppercase">Thống kê doanh số</h4>
                <p>Thống kê tổng doanh số</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media d-flex">
                        <div class="media-body text-left">
                          <h3 class="success">{{commonData.allUsers}}</h3>
                          <span>Người dùng</span>
                        </div>
                        <div class="align-self-center">
                          <i class="icon-users success font-large-2 float-right"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media d-flex">
                        <div class="media-body text-left">
                          <h3 class="success">{{commonData.usersThisMonth}}</h3>
                          <span>Người dùng mới</span>
                        </div>
                        <div class="align-self-center">
                          <i class="icon-user-follow success font-large-2 float-right"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media d-flex">
                        <div class="media-body text-left">
                          <h3 class="warning">{{commonData.allExams}}</h3>
                          <span>Bài thi</span>
                        </div>
                        <div class="align-self-center">
                          <i class="icon-book-open warning font-large-2 float-right"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media d-flex">
                        <div class="media-body text-left">
                          <h3 class="danger">{{commonData.allFields}}</h3>
                          <span>Chủ đề</span>
                        </div>
                        <div class="align-self-center">
                          <i class="icon-rocket danger font-large-2 float-right"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media d-flex">
                        <div class="align-self-center">
                          <i class="icon-speech warning font-large-2 float-left"></i>
                        </div>
                        <div class="media-body text-right">
                          <h3>{{commonData.allQuestions}}</h3>
                          <span>Câu hỏi</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media d-flex">
                        <div class="align-self-center">
                          <i class="icon-pointer danger font-large-2 float-left"></i>
                        </div>
                        <div class="media-body text-right">
                          <h3>{{commonData.allDetails}}</h3>
                          <span>Tổng số lượt làm bài thi</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Bài thi">
      <ng-template matTabContent>
        <div class="grey-bg container-fluid">
          <section>
            <div class="row">
              <div class="col-12 mt-3 mb-1">
                <h4 class="text-uppercase">Thống kê chi tiết bài thi</h4>
                <p>Số lượng người làm bài thi theo lĩnh vực</p>
              </div>
            </div>
            <div class="row">
              <ngx-charts-bar-vertical [view]="[1150, 500]" [scheme]="colorScheme" [results]="fieldData" [gradient]="false"
                [xAxis]="true" [yAxis]="true" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
                [xAxisLabel]="'Chủ đề'" [yAxisLabel]="'Số lượng'" (select)="onSelect($event)">
              </ngx-charts-bar-vertical>
            </div>
          </section>
        </div>
      </ng-template>
    </mat-tab>

    <!-- <mat-tab label="Third">
      <ng-template matTabContent>

      </ng-template>
    </mat-tab> -->
  </mat-tab-group>
</div>