<div class="main-content" style="margin-top: 0;">
  <div class="content-fluid">
    <div class="row">
      <div *ngFor="let field of fields" class="col-md-4 my-2" [routerLink]="[do-test]">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image" style="background-image: url({{field.avatar}});"></div>
            <mat-card-title>{{field.major}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image [src]="field.image" alt="error image">
          <mat-card-content>
            <p>{{field.description}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary">Chi tiết</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
