:host ::ng-deep .main-panel .main-content {
  margin-top: 0;
}

table {
  width: 100%;
}

.search .mat-form-field {
  font-size: 14px;
  width: 100%;
}

.filter .mat-form-field {
  font-size: 14px;
  width: 10%;
  margin-right: 5px;
}

:host ::ng-deep td.mat-cell:nth-child(4), :nth-child(5), :nth-child(6) {
  width: 12%;
}

form {
  margin: 0;
}