<div class="main-content" style="margin-top: 0;">
  <div class="container-fluid">
    <div>
      <div class="search">
        <mat-form-field>
          <mat-label>Tìm kiếm</mat-label>
          <input matInput (keyup)="search($event)" placeholder="Tìm kiếm..." #input>
        </mat-form-field>
      </div>

      <div class="filter">
        <form [formGroup]="searchForm">
          <div class="d-flex">
            <mat-form-field mat-form-field appearance="fill">
              <mat-label>Lĩnh vực</mat-label>
              <mat-select formControlName="field">
                <mat-option *ngFor="let field of fields" [value]="field.id">{{field.major}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field mat-form-field appearance="fill">
              <mat-label>Độ khó</mat-label>
              <mat-select formControlName="level">
                <mat-option *ngFor="let level of levels" [value]="level.id">{{level.label}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field mat-form-field appearance="fill">
              <mat-label>Số lượng câu hỏi</mat-label>
              <input matInput type="number" formControlName="questionNumber">
            </mat-form-field>
            <mat-form-field mat-form-field appearance="fill">
              <mat-label>Thời gian</mat-label>
              <input matInput type="number" formControlName="time">
            </mat-form-field>
          </div>
        </form>
      </div>

      <div class="filter mb-3">
        <button mat-raised-button color="primary" (click)="clearFilter()">Clear</button>
      </div>

      <mat-card>
        <div class="d-flex">
          <h3 style="color: #3f51b5; margin: 0;">Danh sách đề thi</h3>
          <button mat-mini-fab aria-label="Example icon-button with a heart icon" color="primary" 
            (click)="createExam('create')" style="margin-left: auto;">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let exam; index as i"> {{i +1}} </td>
          </ng-container>
      
          <ng-container matColumnDef="field">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Lĩnh vực </th>
            <td mat-cell *matCellDef="let exam"> {{exam.field.major}} </td>
          </ng-container>
      
          <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Độ khó </th>
            <td mat-cell *matCellDef="let exam"> {{exam.level.label}} </td>
          </ng-container>
      
          <ng-container matColumnDef="questionNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Số lượng câu hỏi </th>
            <td mat-cell *matCellDef="let exam"> {{exam.questionNumber}} </td>
          </ng-container>
          
          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Thời gian </th>
            <td mat-cell *matCellDef="let exam"> {{exam.time}} </td>
          </ng-container>
          
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Hành động </th>
            <td mat-cell *matCellDef="let exam">
              <button (click)="createExam('update', exam)" mat-icon-button color="primary" aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteExam(exam.id)" aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="6">Không có dữ liệu</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"></mat-paginator>
      </mat-card>
    </div>
  </div>