<div class="main-content" style="margin-top: 0;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <mat-card>
          <mat-card-header>
            <h3><strong>Câu {{questionIndex + 1}}: </strong>{{currentQuestion.content}}</h3>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <mat-radio-group [(ngModel)]="currentQuestion.selectedAnswer">
                <div class="col-md-12 mt-3">
                  <mat-radio-button value="A"></mat-radio-button>
                  <span class="radio-question">
                    {{currentQuestion.solutionA}}
                  </span>
                </div>
                <div class="col-md-12 mt-3">
                  <mat-radio-button value="B"></mat-radio-button>
                  <span class="radio-question">
                    {{currentQuestion.solutionB}}
                  </span>
                </div>
                <div class="col-md-12 mt-3">
                  <mat-radio-button value="C"></mat-radio-button>
                  <span class="radio-question">
                    {{currentQuestion.solutionC}}
                  </span>
                </div>
                <div class="col-md-12 mt-3">
                  <mat-radio-button value="D"></mat-radio-button>
                  <span class="radio-question">
                    {{currentQuestion.solutionD}}
                  </span>
                </div>
              </mat-radio-group>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div class="d-flex justify-content-between">
              <button mat-icon-button color="primary" (click)="chooseQuestion(questionIndex - 1)">
                <mat-icon>arrow_back_ios</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="chooseQuestion(questionIndex + 1)">
                <mat-icon>arrow_forward_ios</mat-icon>
              </button>
            </div>
          </mat-card-actions>
          <mat-card-footer>
            <div class="d-flex flex-wrap">
              <button mat-raised-button [color]="questionIndex == i ? 'warn' : 'primary'" *ngFor="let qs of questionsNumber; index as i;" 
                class="question m-1" (click)="chooseQuestion(i)">
                Câu {{i+1}}
              </button>
            </div>
          </mat-card-footer>
        </mat-card>
      </div>

      <div class="col-md-4">
        <mat-card class="text-center" style="color: white; background-color: #85929E; font-weight: bold ;">
          <h5>Đề thi: {{exam.field}}</h5>
          <h5>Thời gian làm bài: {{exam.time}} phút</h5>
          <h5>Tổng số câu hỏi: {{exam.questionNumber}} câu</h5>
          <h5>Thời gian: 
            <countdown #cd [config]="{leftTime: exam.time*60, format: 'm:s'}" (event)="handleEvent($event)"></countdown>
          </h5>
          <button mat-raised-button color="warn" (click)="openModal()">Nộp bài</button>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<ng-template #showResult>
  <div class="modal-header">
    <h2 class="modal-title">Chúc mừng bạn đã hoàn thành bài thi!</h2>			
  </div>
  <div class="modal-body">
    <h2 class="text-center">{{result}}</h2>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-block" mat-dialog-close>OK</button>
  </div> 
</ng-template>