<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Chỉnh sửa thông tin cá nhân</h4>
            <p class="card-category">Hoàn thành thông tin cá nhân</p>
          </div>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="updateProfile()">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Họ và tên" formControlName="fullName">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Số điện thoại" formControlName="phone" />
                  </mat-form-field>
                </div>
                <div class="col-md-7">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" type="email" formControlName="email" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Địa chỉ" type="text" formControlName="address" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Giới thiệu</label>
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Mô tả về bản thân"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Cập nhật</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Dổi mật khẩu</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="changePasswordForm" ngNativeValidate (ngSubmit)="changePassword()">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="Mật khẩu" formControlName="oldPassword" required />
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="Mật khẩu mới" formControlName="password" required />
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="Xác nhận mật khẩu mới" formControlName="confirmPassword" required />
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Đổi mật khẩu</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>