:host::ng-deep .mat-cell {
  color: black;
  padding-left: 5px;
  font-weight: 300;
}

:host::ng-deep .mat-header-cell {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

:host::ng-deep th.mat-header-cell:first-of-type {
  padding-left: 5px;
}

:host::ng-deep th.mat-header-cell:first-of-type {
  padding-left: 5px;
}

h3 {
  color: #3f51b5;
  font-weight: bold;
  margin: 0;
}

hr {
  border-top: 2px solid #3f51b5;
}

.mat-form-field-wrapper, form {
  margin-bottom: 0;
}

:host::ng-deep .mat-table {
  .mat-header-cell:nth-child(2) {
    width: 18%;
  }
  .mat-header-cell:nth-child(3), :nth-child(4), :nth-child(5), :nth-child(6) {
    width: 13%;
  }
}

.search .mat-form-field {
  font-size: 14px;
  width: 100%;
}

.filter .mat-form-field {
  font-size: 14px;
  width: 10%;
  margin-right: 5px;
}