<div class="main-content" style="margin-top: 0;">
  <div class="container-fluid">
    <div>
      <div class="search">
        <mat-form-field>
          <mat-label>Tìm kiếm</mat-label>
          <input matInput (keyup)="search($event)" placeholder="Tìm kiếm..." #input>
        </mat-form-field>
      </div>

      <div class="filter">
        <form [formGroup]="searchForm">
          <div class="d-flex">
            <mat-form-field mat-form-field appearance="fill">
              <mat-label>Lĩnh vực</mat-label>
              <mat-select formControlName="field">
                <mat-option *ngFor="let field of fields" [value]="field.id">{{field.major}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field mat-form-field appearance="fill">
              <mat-label>Độ khó</mat-label>
              <mat-select formControlName="level">
                <mat-option *ngFor="let level of levels" [value]="level.id">{{level.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
      </div>

      <div class="filter mb-3">
        <button mat-raised-button color="primary" (click)="searchForm.reset()">Clear</button>
      </div>

      <mat-card>
        <div class="d-flex">
          <h3 style="color: #3f51b5; margin: 0;">Danh sách câu hỏi</h3>
          <span style="margin-left: auto;">
            <input type="file" (change)="uploadExcel($event)" style="display: none;" #fileUpload />
            <span class="file-upload" style="margin-right: 5px;">
              <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
              </button>
            </span>
            <button mat-mini-fab aria-label="Example icon-button with a heart icon" color="primary"
              (click)="createQuestion('create')">
              <mat-icon>add</mat-icon>
            </button>
          </span>
        </div>
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let question; index as i"
              style="padding-left: 5px; width: 40px; text-align: center;"> {{i +1}} </td>
          </ng-container>

          <ng-container matColumnDef="content">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nội dung </th>
            <td mat-cell *matCellDef="let question"> {{question.content}} </td>
          </ng-container>

          <ng-container matColumnDef="slnA">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Đáp án A </th>
            <td mat-cell *matCellDef="let question"> {{question.solutionA}} </td>
          </ng-container>

          <ng-container matColumnDef="slnB">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Đáp án B </th>
            <td mat-cell *matCellDef="let question"> {{question.solutionB}} </td>
          </ng-container>

          <ng-container matColumnDef="slnC">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Đáp án C </th>
            <td mat-cell *matCellDef="let question"> {{question.solutionC}} </td>
          </ng-container>

          <ng-container matColumnDef="slnD">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Đáp án D </th>
            <td mat-cell *matCellDef="let question"> {{question.solutionD}} </td>
          </ng-container>

          <ng-container matColumnDef="correct">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Đáp án đúng </th>
            <td mat-cell *matCellDef="let question" style="padding-left: 1.5rem;"> {{question.correct}} </td>
          </ng-container>

          <ng-container matColumnDef="field">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Lĩnh vực </th>
            <td mat-cell *matCellDef="let question"> {{question.field.major}} </td>
          </ng-container>

          <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Độ khó </th>
            <td mat-cell *matCellDef="let question"> {{question.level.label}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let question" style="padding-right: 0; width: 6rem;">
              <button (click)="createQuestion('update', question)" mat-icon-button color="primary"
                aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteQuestion(question.id)"
                aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="10">Không có dữ liệu</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"></mat-paginator>
      </mat-card>
    </div>
  </div>